@media (max-width: 900px) {
    .header{
        margin: 0 15%;
    }
}
@media (max-width: 550px) {
    .logo{
        font-size: 1rem;
    }
    .header ul{
        display: none;
    }
    .header{
        justify-content: center;
    }
}
